$color-white: rgba(255, 255, 255, 1);
$color-rich-black: rgba(0, 23, 31, 1);
$color-prussian-blue: rgb(0, 52, 89);
$color-cerulean: rgb(0, 126, 167);
$color-picton-blue: rgb(0, 168, 232);

$shadow-black: 0.1rem 0.1rem 0.1rem black;
