$color-white: rgba(255, 255, 255, 1);
$color-rich-black: rgba(0, 23, 31, 1);
$color-prussian-blue: #003459;
$color-cerulean: #007ea7;
$color-picton-blue: #00a8e8;

$shadow-black: 0.1rem 0.1rem 0.2rem black;
$shadow-rich-black: 0.5rem 0.5rem 0.5rem -0.2rem $color-rich-black;

$boder-picton-blue: 0.2rem solid $color-picton-blue;
