@import 'variables.scss';

html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: inline-flex;
    flex-direction: column;
    // background-color: black;
    align-items: center;

    .navbar-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3rem;
        height: 3rem;
        border-radius: 50%;

        background: #fe8989;

        cursor: pointer;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2rem;
            i {
                position: absolute;
                transition: opacity 0.3s, transform 0.4s;
            }
            .fa-xmark {
                opacity: 0;
            }
            .xmark-animated {
                transform: rotate(180deg) scale(1);
                opacity: 1;
            }
            .bars-animated {
                transform: rotate(180deg) scale(0.5);
                opacity: 0;
            }
        }
    }

    ul {
        list-style-type: none;
        background-color: #fe8989;
        width: 2.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2.5rem 0 0.5rem 0;
        position: relative;
        top: -2rem;
        z-index: -1;
        border-radius: 1rem;
        transform: scaleY(0);

        &.navbar-menu-open {
            animation: animationOpen 0.3s ease 0s 1 normal forwards;
            @keyframes animationOpen {
                0% {
                    transform: scaleY(0);
                    transform-origin: 100% 0%;
                }

                100% {
                    transform: scaleY(1);
                    transform-origin: 100% 0%;
                }
            }
        }
        &.navbar-menu-close {
            animation: animationClose 0.3s ease 0s 1 reverse forwards;
            @keyframes animationClose {
                0% {
                    transform: scaleY(0);
                    transform-origin: 100% 0%;
                }

                100% {
                    transform: scaleY(1);
                    transform-origin: 100% 0%;
                }
            }
        }
        li {
            display: inline;
            margin: 0.5rem 0;
        }
    }
}

section {
    border: 1px solid #000;
    height: 100vh;
    width: 100vw;
    // background-color: $white;
}
#home {
    // Background generator -> https://wavelry.vercel.app/
    background-image: url('../img/bg-home.png');
    background-size: cover;

    position: absolute;
    display: flex;
    justify-content: center;
    .home-text {
        position: absolute;
        top: 12rem;
        color: $color-white;
        text-shadow: $shadow-black;

        h1 {
            font-size: 4rem;
        }
        p {
            text-align: center;
        }
    }

    #photo-img {
        position: absolute;
        width: 100%;
        bottom: 0;
    }
}
