html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
// #container {
//     background: linear-gradient(#8affff, #000000);
//     position: relative;
//     width: 100%;
//     height: 100%;

//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     position: relative;
// }
nav {
    display: flex;
    // background-color: black;

    .navbar-button {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 3rem;
        height: 3rem;
        border-radius: 50%;

        background: #fe8989;

        cursor: pointer;

        .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2rem;
            i {
                position: absolute;
                transition: opacity 0.3s, transform 0.4s;
            }
            .fa-xmark {
                opacity: 0;
            }
            .xmark-animated {
                transform: rotate(180deg) scale(1);
                opacity: 1;
            }
            .bars-animated {
                transform: rotate(180deg) scale(0.5);
                opacity: 0;
            }
        }
    }
}
